@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /*font-family: "Raleway", sans-serif;*/
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.blocks{
    
}
.header{
    padding-top: 43px;
    height: 68;
}
.header__row{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.logo{
    display: flex;
    align-items: center;
    gap: 23px;
   
}
.logotext{
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    color: #16171b;
}
.boldtext{
    font-weight: 900;
}
.arenda{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textarenda{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    color: #16171b;
    padding-bottom: 20px;
}
.textarendabold{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #16171b;
}

.back{
    z-index: 10;
    background-position: 50% 95%;
    background-image: url(./img/back1.svg);
    background-color: #ecf2f6;}
.p__introtop{
    padding-top: 70px;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #16171b;
    padding-bottom: 30px;
}
.intro__name{
    display: flex;
    align-items: center;
}
.title__intro{


    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    color: #16171b;
    max-width: 693px;
    padding-bottom: 50px;
}
.gradient{
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    background: linear-gradient(152deg, #a169f7 0%, #0af 33.85%, #ff6163 73.44%, #97cf26 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.intro_p_mini{

    font-weight: 400;
    font-size: 30px;
    color: #16171b;
    padding-bottom: 50px;
}
.btn__intro{
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 0 3px 20px 0 #5956e9;
    border: none;
    border-radius: 21px;
    width: 242px;
    height: 73px;
    background: #5956e9;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.btn__intro:hover{
    transform: scale(1.04);
    background: #FF6163;
    box-shadow: 0 3px 20px 0 #FF6163;
}
.scroll_icon{

    padding-top: 150px;
    display: flex;
    justify-content: center;
    padding-bottom: 115px;
}
.scroll_icons{
    transition: 0.7s;
}
.scroll_icons:hover{
    transform: scale(1.2);
}
.container2{
    max-width: 1050px;
    margin: 0 auto;
}
.border_linear{
    transition: 0.7s;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 170px;
    width: 752px;
    height: 250px;
    background: linear-gradient(152deg, #a169f7 0%, #0af 33.85%, #ff6163 73.44%, #97cf26 100%);
}
.btn__test{
    cursor: pointer;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    border: none;
    background: #27272e;
    background-image: url(./img/back__btn.png);
    border-radius: 170px;
    width: 737px;
    height: 234px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.border_linear:hover{
    transform: scale(1.05);
}
.back2{
    background-color: #ecf2f6;
}
.textdrive_title{
    font-weight: 500;
    font-size: 57px;
    
    text-align: center;
    color: #fab8c4;
}
.textdrive_p{
    font-weight: 400;
    font-size: 35px;
    line-height: 145%;
    color: #fff;
}
.div__textdrive{
    display: flex;
    flex-direction: column;
    
}
.testdrive{
    display: flex;
    justify-content: center;

    padding-bottom: 132px;
}
.prem__title{
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    color: #27272e;
}
.h2__prem{
    font-weight: 500;
    font-size: 64px;
    color: #16171b;
    
}
.card_prem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px ;
    flex-direction: row;
}
.reverse{
    display: flex;
    flex-direction: column-reverse;
}
.prem__cards{
    padding-top: 80px;
    padding-bottom: 140px;
}
.prem__cards{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.card__prem_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.p_card__infomini{
    font-weight: 300;
    font-size: 32px;
    color: #16171b;
}
.width500{
    max-width: 500px;
}
.width540{
    max-width: 540px;
}
.back2{
    background-image: url(./img/back2.png);
    background-position: 40% 95%;
}
.back3{
    background-color: #ecf2f6;
}
.container1622{
    max-width: 1620px;
    margin: 0 auto;
    padding-bottom: 155px;
}
.price{
    border-radius: 144px;
    max-width: 100%; 
    z-index: 10;
    
    background-image: url(./img/backprice.png);
    background-color: #d8e1e8;
   
   
}
.price_title{
    padding-top: 67px;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    color: #27272e;
}
.price_money{
    padding-top: 54px;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #fab8c4;
}
.cards_price{
    padding-top: 78px;
    padding-bottom: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}
.card_price{
    cursor: pointer;
    transition: 0.7s;
    background: #27272e;
    border-radius: 28px;
    max-width: 371px;
    height: 309px;
}
.card_price:hover{
    transform: scale(1.06);
    background: #5956E9;
    
}
.consult_text{
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #27272e;
}
.number_price{
    padding-bottom: 53px;
    font-weight: 500;
    font-size: 54px;
    line-height: 150%;
    text-align: center;
    color: #5956e9;
}
.date_price{
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #fff;
}
.price_text{
    box-sizing: border-box;
    padding: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #ababab;
}
.back4{
    background-color: #ecf2f6;
    background-image: url(./img/back3.png);
    background-repeat: no-repeat;
    background-position: 50% 300%;
}
.formblock{
    
}
.form_text{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #16171b;
    padding-bottom: 30px;
}
.form_textbold{
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #16171b;
}
.form_account{
    padding-top: 72px;
    display: flex;
    justify-content: center;
    gap: 42px;
}
.account_entrance{
    box-sizing: border-box;
    padding: 50px 60px;
    border-radius: 27px;
    width: 519px;
    height: 547px;
    background: #fff;
}
.account_title{
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    color: #16171b;
}
.form_input{
    box-sizing: border-box;
    padding: 24px 15px;
    border: 1px solid #d6e0e7;
    border-radius: 15px;
    width: 100%;
    height: 60px;
    font-weight: 300;
    font-size: 20px;
    color: #778f9d;
}
.form_input::placeholder{
    font-weight: 300;
    font-size: 20px;
    color: #778f9d;
}
.text_form{
    padding-top: 20px;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 24px;
    color: #16171b;
}
.btn_entrance{
    transition: 0.7s;
    margin-top: 50px;
    cursor: pointer;
    height: 65px;
    width: 100%;
    background: #5956e9;
    border: none;
    border-radius: 21px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.btn_entrance:hover{
    transform: scale(1.04);
    background: #FF6163;
}
.important{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 570px;
}
.text_important{
    padding-top: 20px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #16171b;
}


.footer__row{
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.footer{
    padding-top: 270px;
    padding-bottom: 150px;
}
.businesmen{
    width: 644px;
    height: 743px;
    position: relative;
    bottom: 523px;
    left: 100px;
}